<h1>Les thérapeutes du centre :</h1>
<% @therapists.each do |therapist| %>
  <%= therapist.first_name %>
<% end %>
<% if policy(current_therapist).new? %>
  <%= link_to 'Nouveau thérapeute', new_therapist_path %>
<% end %>
